@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body{
    background: hwb(0 70% 28% / 0.295);
    width: 100%;
    height: 100%;
}
/* ---------Header-------------*/
/* ---------NAv-------------*/
                        /* ---------LOGO-------------*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
     border-bottom: 1px solid black;
}
.logo{
    flex-basis: 20%;
    
    
    height: 150px;
    
}
.logo img{
    width: 250px;
    height: 150px;

}
                        /* ---------Nav Menu-------------*/
.nav-links{
    flex-basis: 35%;
}
.nav-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    padding: 0px 10px;
}
.nav-links ul li a{
text-decoration: none;
color: black;
font-style: 10rem;
font-weight: 500;
text-shadow: 1px 1px rgba(0,0,0,0.3 );
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: 4px auto;
    transition: 0.75s ;
}

.nav-links ul li:hover::after{
    width: 100%;
    }

/* ---------Nav-btn-------------*/
.nav-btn{
flex-basis: 10%;
}
.nav-btn button{
    padding: 15px 30px;
    background: lightblue;
    border-radius: 20px;
    border: 2px  solid lightblue ;
    box-shadow: 1px 1px 1px  black;
}
.nav-btn  :hover{
box-shadow: 1.5px 1.5px 1.5px 1.5px black;
transition: 0.5s;
font-weight: 600;
font-size: 15px;
border-radius: 30px;
}
.nav-icons{
 
display: none;
}
/*------------Hero-Section----------------*/
